.header h1 {
  color: white;
  text-align: center;
}
.hide {
  display: none;
}

.show {
  display: flex;
}

.site-layout-background {
  background-color: white;
}

.site-empty {
  padding: 30px 0;
}
